<link rel="stylesheet" href="../static/css/Answer.css">
<body background="../static/image/bg-start.jpg">
</body>
<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">Answer</h2>
            <canvas id = "canvas"> </canvas>
            <script src="../static/js/Answer.js"></script> 
            <form action="/Back" method="POST">
        <button class ="back"> Back </button>
                </form>
             </div>
    </div>
</section>