<link rel="stylesheet" href="../static/css/Challenge.css">
<body background="../static/image/bg-start.jpg">
</body>
<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">How is the future like ? </h2>
            <canvas id = "canvas"> </canvas> 
            
            <div class="item1">
                 <p>DOW Index </p>
                <img src="../static/image/testsample/^DJI.jpg">
            </div>
            <div class="item2">
                <img src="../static/image/testsample/AAPL.US.jpg">
                <p>Apple.com </p>
            </div>
            <div class="item3">
                <img src="../static/image/testsample/TM.US.jpg">
                <p>Toyota</p>
            </div>
            <div class="item4">
                <img src="../static/image/testsample/GOOGL.US.jpg">
                <p>Google</p>
            </div>
            
        <form action="/Answer" method="POST">
        <button class ="answer"> Answer! </button>
            <script src="../static/js/Challenge.js"></script>
        </form>
             </div>
    </div>
</section>